* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
/* .navbar-light {
  border-bottom: 1px solid black !important;
} */
@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 58px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 50%;
    height: 100%;
    background: white;
    border-right-color: gray !important;
    border-right-width: 3px !important;
  }
  .navbar-collapse.collapsing {
    left: -50%;
    transition: height 0s ease;
  }
  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }
  /* .navbar-toggler.collapsed ~ .navbar-collapse {
      transition: left 500ms ease-in-out;
  } */
}
.navbar-light {
  z-index: 999 !important;
}
/* clear outline of toggler */
.navbar-light .navbar-toggler {
  outline: none;
}
/* navbar change to X on collapse */
.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}
/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}
/**Animate X open into hamburger menu*/
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}
/*Animate hamburger into X.*/
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}
.bx-1 {
  margin-top: 70px;
}
.bx-2 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.bx-3 {
  margin-bottom: 70px;
}
.bannerx {
  width: 400px;
  height: 400px;
}
.banner .border-3 {
  border-width: 4px #fbe779 !important;
}
