* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.navbar-light {
  border-bottom: 1px solid black !important;
}
.bx-1 {
  margin-top: 70px;
}
.bx-2 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.bx-3 {
  margin-bottom: 70px;
}
.bannerx {
  width: 400px;
  height: 400px;
}
.banner .border-3 {
  border-width: 4px #fbe779 !important;
}
