* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif !important;
}
/* custom colors */
.text-yellow {
  color: #fbe779;
}
.btn-yellow {
  background-color: #fbe779;
}
.text-sb {
  color: #75cedf;
}
.btn-sb {
  background-color: #75cedf;
  color: white;
}
.btn-sb:hover {
  color: #75cedf;
  background: white;
  border: 0.5px solid #75cedf;
}
/* logo size change */
@media (max-width: 540px) {
  .brand-logo {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 540px) {
  .brand-logo {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 992px) {
  .embed-responsive {
    margin-bottom: -190px;
    padding: 0px;
  }
}
/* push from left menu */
@media (max-width: 768px) {
  .navbar-collapse {
    position: fixed;
    top: 54px;
    left: 0;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100%;
    background-color: white;
  }

  .navbar-collapse.collapsing {
    height: 100%;
    left: -75%;
    transition: height 0.2s ease;
  }

  .navbar-collapse.show {
    height: 100%;
    left: 0;
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 300ms ease-in;
  }
}
.nav-link {
  color: black !important;
}
.active .nav-link {
  color: skyblue !important;
}
/* clear outline of toggler */
.navbar-light .navbar-toggler {
  outline: none;
}
.nav-item {
  margin-right: 20px;
  margin-left: 20px;
}
@media (max-width: 540px) {
  .nav-small {
    font-size: smaller;
  }
}
/* navbar change to X on collapse */
.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}
/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}
/**Animate X open into hamburger menu*/
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}
/*Animate hamburger into X.*/
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}
/* home page image */
.bx {
  width: 400px;
  height: 400px;
}
.serv-img {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}
@media (min-device-width: 576px) and (max-device-width: 720px) {
  .serv-img {
    width: 80px;
    height: 80px;
    margin: auto;
    display: block;
  }
}

.cpy {
  font-size: small;
}
.text-decoration-none {
  text-decoration: none !important;
}
.banner-home {
  height: 440px;
  width: 100%;
}
.map-embed {
  width: 100% !important;
  height: 360px !important;
}
.default-card {
  display: none !important;
}
@media (max-width: 576px) {
  .cpy #copyright {
    text-align: center;
  }
}
.form-group .form-control {
  border-color: black !important;
}
.fa-star,
.fa-star-o,
.fa-star-half-o {
  color: gold;
  padding-right: 3px;
}
/* carousel */
.carousel-control-prev-icon {
  width: 25px;
  height: 25px;
  margin-left: -190px;
  border-radius: 50%;
  background-color: black !important;
}

.carousel-control-next-icon {
  width: 25px;
  height: 25px;
  margin-right: -190px;
  border-radius: 50%;
  background-color: black !important;
}
.mobile-carousel {
  display: none;
}
@media (max-width: 768px) {
  .mobile-carousel {
    display: block;
  }
  .lg-carousel {
    display: none;
  }
}
